#Ignore Mac system files
.DS_store

#Ignore personal editor config files
.vscode/

#Ignore venv
venv/

#Ignore database files
*.db

#Ignore the Course Resource Files
Refactored_Py_DS_ML_Bootcamp-master/

#Ignore .ipynb_checkpoints folder
.ipynb_checkpoints/

#Ignore all_banks pickled data
My_Notes/Section12_DataCapstone/all_banks